{% extends 'base.html' %}
{% load static %}

{% block styles %}
<!-- Styles stuff -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}



{% block content %}
<!-- Content stuff -->
<div class="container index">
    <div class="posts">
        <div class="post card">
            <div class="row">
                <div class="col">
                    <div class="profile-photo">
                        <img src="{% static 'images/twitter.png' %}" alt="">
                        Grishon Nganga
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="post-img">
                        <img src="{% static 'images/twitter.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col engage">
                    <span class="material-icons fav">favorite_border</span>
                    <span class="material-icons chat">chat_bubble_outline</span>
                </div>
            </div>
            
        </div>

        <div class="post card">
            <div class="row">
                <div class="col">
                    <div class="profile-photo">
                        <img src="{% static 'images/twitter.png' %}" alt="">
                        Grishon Nganga
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="post-img">
                        <img src="{% static 'images/twitter.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col engage">
                    <span class="material-icons fav">favorite_border</span>
                    <span class="material-icons chat">chat_bubble_outline</span>
                </div>
            </div>
        </div>
        <div class="post card">
            <div class="row">
                <div class="col">
                    <div class="profile-photo">
                        <img src="{% static 'images/twitter.png' %}" alt="">
                        Grishon Nganga
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="post-img">
                        <img src="{% static 'images/twitter.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col engage">
                    <span class="material-icons fav">favorite_border</span>
                    <span class="material-icons chat">chat_bubble_outline</span>
                </div>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}



{% block scripts %}
<!-- Scripts stuff -->

{% endblock %}