.nav{
    z-index: 500;
    margin-top: 0px;
    height: 58px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100000;
    
}
.nav-img img{
    width: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-img{
    position: fixed;
    z-index: 1000;
    justify-content: center;
   
}
.image img{
    width: 100%;
}

.up-tad{
    margin-top: -5px;
}
@media screen and (min-width: 600px){
    .nav-img img{
        width: 125px;
    }

    .nav-right{
        width: 65%;
    }
}